<main class="flex justify-center items-center h-screen shadow-xl">
  <div *ngIf="isVisible" class="bg-gray-900 rounded-xl w-80 h-96 flex flex-col items-center justify-center p-6">
    <div class="py-8 px-6 space-y-3 max-w-xs rounded-xl h-auto text-white flex flex-col items-center justify-center">
      <div class=" ">
        <img src="/img/thank.png" alt="icon star" class=" w-36 ">
        <p class="bg-gray-800 mt-5 px-3 py-1 text-orange-500 rounded-full text-xs">
            You selected 4 out of 5
        </p>
      </div>
      <h1 class="font-bold text-2xl">Thank you</h1>
      <p class="text-xs text-center">
        We appreciate you taking the time to give a rating.
        If you ever need more support, don't hesitate to get in touch!
      </p>

    </div>
  </div>
</main>
